{
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"plugins": ["prettier-plugin-jinja-template"],
	"overrides": [
		{
			"files": ["*.html"],
			"options": {
				"tabWidth": 2,
				"parser": "jinja-template"
			}
		},
		{
			"files": ["*.js"],
			"options": {
				"tabWidth": 2,
				"parser": "babel"
			}
		},
		{
			"files": ["*.css"],
			"options": {
				"tabWidth": 2,
				"parser": "css"
			}
		},
		{
			"files": ["*.py"],
			"options": {
				"tabWidth": 4,
				"parser": "python"
			}
		}
	]
}
