{% extends "layout.html" %}

{% block title %}
	Personal Book Manager - index
{% endblock %}

{% block content %}
	<div class="row justify-content-center">
		<div class="col-md-10 col-lg-8">
			<div class="input-group mb-3">
				<input
					id="indexSearchBar"
					class="form-control form-control-lg"
					autocomplete="off"
					autofocus
					name="indexSearchBar"
					placeholder="Search for a book"
					type="text"
				/>
			</div>
			<div class="list-group" id="indexSearchResult"></div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script>
		const isLoggedIn = {{ is_logged_in | tojson }};
	</script>
	<script src="static/addBook.js"></script>
	<script src="static/generateCitation.js"></script>
	<script src="static/exportCitation.js"></script>
	<script src="static/searchBar.js"></script>
{% endblock %}